/*
После изменений нужно запускать задачу Maven
vaadin:compile-theme

Если не работает поле времени - то сделать package
*/

/*
$v-focus-color: #07a9ca;
$v-focus-style: 0 0 3px 2px $v-focus-color;
$v-bevel-depth: 40%;
$v-gradient: v-linear 12%;
$v-bevel: inset 0 1px 2px v-tint, inset 0 0 1px (v-tint 0.1);
$v-shadow: 0 0 0 2px rgba(0,0,0,0.32), 0 1px 0 2px rgba(255,255,255,0.14);
$v-textfield-bevel: inset 0 2px 2px v-shade;
$v-textfield-shadow: $v-shadow;
$v-unit-size: 30px;
$v-overlay-shadow: 0 0 0 3px (v-shade 8), 0 5px 10px (v-shade 4);
$v-component-group-spacing: 6px;
*/
$v-app-loading-text: "Loading WapTaxi WebClient ...";
$v-border-radius: 1px;

//$v-font-family: sans-serif;
//$v-font-family: Roboto, sans-serif;
//$v-font-family: 'Open Sans';
//$v-font-family: 'Source Sans Pro';
//$v-font-family: 'Roboto';
//$v-font-family: 'Lato';
//$v-font-family: 'Lora';

//$v-font-family: 'Arial'; // Более-менее
//$v-font-family: 'Tahoma'; // Хорошо смотрится
$v-font-family: 'Microsoft Sans Serif';


$v-font-weight: 400;
$v-font-weight--header: 400;
$v-font-size: 12px;
/*$v-font-color: #000000;*/

$v-caption-font-size: 11px;

$v-layout-margin-top: 10px;
$v-layout-margin-right: 10px;
$v-layout-margin-bottom: 10px;
$v-layout-margin-left: 10px;
/*$line-height: 20px;*/
$v-unit-size: 20px;

/*Фон страницы как в десктопной версии*/
$v-background-color: #D4D0C8;

/* Цвет выделенных элементов */
$v-focus-color: #006cff;

//$v-link-font-color: #000000;
$v-link-text-decoration: none;

@import "../valo/valo";