@import "variables";
@import "../valo/valo";

.tests-valo-dark {
   @include valo;

   // Размер шрифта в комбобоксах
   /*
   .v-filterselect-tiny {
      font-size: 11px;
   }
   */

   // Цвет фона шапки таблицы
   /*
   .v-table-header {
      background-color: #2f2f2f;
      color: #d9dbdb;
   }
   */

   // Высота строки в таблице
   .v-caption {
      padding-bottom: 0px;
      padding-top: 0px;
   }

   // Цвет шрифтов
   .v-panel {
      color: #000000;
   }

   .v-textarea {
      color: #000000;
   }

   // Фон текстового поля
   .v-textfield {
      background-color: #FFFFFF;
   }
   .v-textfield-readonly {
      background-color: #D4D0C8;
   }

   // Комбобоксы
   .v-filterselect [class*="input"] {
      background-color: #FFFFFF;
   }
   .v-filterselect-suggestpopup [class$="suggestmenu"]{
      background-color: #f9f8f6;
   }

   // Фон выбора даты
   .v-datefield [class*="textfield"] {
      background-color: #FFFFFF;
   }
   .v-datefield-popup {
      background-color: #FFFFFF;
   }

   // Закладки табшита
   .v-tabsheet-tabitemcell .v-caption {
      color: #000000;
      font-size: $v-font-size;
   }

   // Таблицы
   .v-table-body-noselection .v-table-row {
      background-color: #FFFFFF;
   }
   .v-table-body-noselection .v-table-row-odd {
      //background-color: #F7F7F7;
      background-color: #FFFFFF;
   }
   .v-table-header-wrap {
      font-size: $v-font-size;
   }
   .v-table-header {
      height: 23px;
      background-color: #efefef;
   }


   // Гриды
   .v-grid-row > td {
      background-color: #FFFFFF;
   }
   .v-grid-row-stripe > td {
      background-color: #F7F7F7;
   }
   .v-grid-column-header-content {
      font-size: $v-font-size;
      //background-color: #efefef;
   }
}